*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:  'General Sans', sans-serif;
    text-decoration: none;
    list-style-type: none;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
}
:root {
    --bg-color: rgb(5, 5, 5);
    --prim-color: #cfc7ab;
    --sec-color: #ebe9e9c5;
    --text-color: #fff;
    --large-font: 5.5rem;
    --h2-font: 1.9rem;
    --p-font: 1.2rem;

    --color1: 139, 62, 238;
    --color2: 232, 62, 238;
    --color3: 238, 62, 145;
    --color4: 238, 169, 62;
    --color5: 246, 213, 49;
    --color6: 221, 148, 21;
    --color7: 118, 21, 221;
    --color-interactive: 246, 49, 97 ;
    --circle-size: 50%;
    --blending: hard-light;
}
@keyframes moveInCircle {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes moveVertical {
    0% {
      transform: translateY(-50%);
    }
    50% {
      transform: translateY(50%);
    }
    100% {
      transform: translateY(-50%);
    }
  }
  
  @keyframes moveHorizontal {
    0% {
      transform: translateX(-50%) translateY(-10%);
    }
    50% {
      transform: translateX(50%) translateY(10%);
    }
    100% {
      transform: translateX(-50%) translateY(-10%);
    }
  }
.gradient-bg {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: hsl(88, 25%, 11%, .5);
    top: 0;
    left: 0;
}
svg {
    display: none;
  }
 
.gradients-container {
    filter: url(#goo) blur(40px) ;
    -webkit-filter: url("#goo")blur(40px) ;
    width: 100%;
    height: 100%;
}
.g1 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color1), 0.8) 0, rgba(var(--color1), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);

    transform-origin: center center;
    animation: moveVertical 30s ease infinite;

    opacity: 1;
  }
  

  .g2 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color2), 0.8) 0, rgba(var(--color2), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);
    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);

    transform-origin: calc(50% - 400px);
    animation: moveInCircle 20s reverse infinite;

    opacity: 1;
  }

  .g3 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color3), 0.8) 0, rgba(var(--color3), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2 + 200px);
    left: calc(50% - var(--circle-size) / 2 - 500px);

    transform-origin: calc(50% + 400px);
    animation: moveInCircle 40s linear infinite;

    opacity: 1;
  }

  .g4 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color4), 0.8) 0, rgba(var(--color4), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);

    transform-origin: calc(50% - 200px);
    animation: moveHorizontal 40s ease infinite;

    opacity: 1;
  }

  .g5 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color5), 0.8) 0, rgba(var(--color5), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: calc(var(--circle-size) * 2);
    height: calc(var(--circle-size) * 2);
    top: calc(50% - var(--circle-size));
    left: calc(50% - var(--circle-size));

    transform-origin: calc(50% + 600px) calc(50% + 200px);
    animation: moveInCircle 20s ease infinite;

    opacity: 1;
  }
  .g6 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color6), 0.8) 0, rgba(var(--color6), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);

    transform-origin: calc(50% + 200px);
    animation: moveHorizontal 10s ease infinite;

    opacity: 1;
  }
  .g7 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color7), 0.8) 0, rgba(var(--color7), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);

    transform-origin: calc(50% + 500px) calc(50% + 200px);
    animation: moveInCircle 30s ease infinite;

    opacity: 1;
  }

.interactive {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color-interactive), 0.8) 0, rgba(var(--color-interactive), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);
    
    width: 100%;
    height: 100%;
    top: -50%;
    left: -50%;
    
    opacity: 1;
}

.card1{
    position: relative;
    width: 100vw;
    height: 100vh;
    background: hsl(88, 25%, 11%, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    overflow: hidden; 
}
.card2{
    width: 100vw;
    height: 100vh;
    background: hsl(88, 25%, 11%, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    overflow: hidden; 
}
.card3{
    width: 100vw;
    height: 100vh;
    background: hsl(88, 25%, 11%, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    overflow: hidden; 
}
.logo {
    width: 120px;
    opacity: 0.7;
    transition: transform 0.3s ease;
}
.logo:hover{
    transform: scale(0.9);
}
.wave {
    width: 85px;
    vertical-align: middle;
}
body {
    background-color: var(--bg-color);
    color: var(--text-color);
    overflow-x: hidden;
}
header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 10px 14% 20px 14%;
    transition: .5s;
}
.home-text {
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    padding: 220px 14% 20px 14%;
}
.home-text h1 {
    font-size: 9rem;
    color: var(--text-color);
    text-align: left;
    font-weight: 700;
    line-height: 1;
    margin: 0 0 20px;
}
.home-text h6 {
    color: var(--sec-color);
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 25px; 
}
.home-text p {
    max-width: 650px;
    font-size: var(--p-font);
    font-weight: 300;
    line-height: 2rem;
    margin-bottom: 1.5rem;
    color: var(--sec-color);
}
span {
    color: var(--prim-color);
}
.f-span {
    display: block;
}
.l-span {
    -webkit-text-stroke: 1px var(--prim-color); 
    -webkit-text-fill-color: transparent;
}
.navbar {
    display: flex;
}

.navbar a {
    color: var(--prim-color);
    font-size: 1.2rem;
    padding: 10px 15px;
    font-weight: 500;
    position: relative; 
}

.navbar a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px; 
    background-color: transparent; 
    bottom: 0;
    left: 0;
    transform: scaleX(0) translateY(-20px); 
    transform-origin: left;
    transition: 0.3s ease-in-out; 
}

.navbar a:hover::before {
    transform: scaleX(1) translateY(-20px);
    background-color: var(--prim-color); 
}
li {
    transition: transform 0.3s ease-in-out;
}
li:hover {
    transform: scaleX(1.2);
}
#social {
    font-size: 70px;
    color: #ffffff;
    transition: 0.5s;
    padding: 0px 5px;
    z-index: 2;
}
#social:hover {
    transform: rotateY(360deg);
    color: var(--prim-color);
}
#menu-icon {
    font-size: 28px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}

.center {
    text-align: center;
}
.center h3 {
    color: var(--text-color);
    font-size: 35px;
    font-weight: 300;
    letter-spacing: 3px;
}
.box {
    background: #0b0b13;
    padding: 40px 30px;
    border-radius: 5px;
    cursor: pointer;
    transition: all .40s;
}
.box img {
    width: 100px;
    height: auto;
    
}
.copy {
    position: absolute;
    text-align: center;
    padding: 40px;
    color: var(--sec-color);
    background: hsl(88, 25%, 11%, .5);
    line-height: 1.8rem;
    text-align: center;
}
.scroll-down header {
   transform: translate3d(0, -100%, 0);
}
.scroll-up header {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(10px);
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    transition: 0.1s;
    border: none;
}
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-thumb {
    background: var(--prim-color);
    border-radius: 6px;
}
::-webkit-scrollbar-track {
    background: rgb(12, 12, 12);
}
@media (max-width: 1430px) {
    header{
        padding: 25px 3%;
    }
    section {
        padding: 50px 3%;
    }
    :root {
        --large-font: 3rem;
        --h2-font: 1.2rem;
    }
}
@media (max-width: 1020px) {
    :root {
        --large-font: 3rem;
        --h2-font: 1.2rem;
        --p-font: 0.9rem;
    }
    .home {
        height: 70vh;
    }
}
@media (max-width: 1000px) {
    header {
        padding: 18px 3%;
    }
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: -700px ;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background: #0b0b13;
        box-shadow: 0px 15px 30px 0px rgb(0 0 0 / 70%);
        text-align: center;
        transition: 0.3s ease-in-out;
    }
    .navbar a {
        display: block;
        padding: 0.5rem;
        margin: 1rem;
    }
    .navbar.active{
        top: 0%;
    }
}
@media (max-width: 795px) {
    
    .home {
        grid-template-columns: 1fr;
        gap: 2rem;
        text-align: left;
        margin-top: 80px;
        height: 100vh;
    }
    .home-text p {
        max-width: 100%;
    }
    .home-img img {
        max-width: 100%;
        width: 490px;
        height: auto;
    }
    .about {
        grid-template-columns: 1fr;
        text-align: center;
    }
    .about-text h2 {
        max-width: 100%;  
    }
    .about-text p {
      max-width: 100%;  
    }  
    body {
        background: rgb(32, 32, 32);
    }
}
@media (max-width: 375px) {
    .header a {
        font-size: 30px;
    }
    .home h1{
        font-size: 28px;
    }
    .home h6 {
        font-size: 15px;
    }
}
@media screen and (max-width: 895px){
    .contact-section{
        flex-direction: column;
    }
    .contact-info, .contact-form{
        margin: 30px 50px;
    }
    .contact-info h2 {
        font-size: 30px;
        
    }
    .contact-info p {
        font-size: 14px;
    }
}
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 796px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .contact-section {
        width: 100%;
    }
}